# EDUNET FOUNDATION-Class Exercise Notebook

# LAB 34 - Python Data Structures

In [ ]:
Strings
A set of character represented within quotes 
Also very effective data type used while using word / sentences

In [ ]:
# Single word
"hello"

In [36]:
# Entire sentence 
'Hello MIZORAM UNIVERSITY'

'Hello SRM University'

In [37]:
# We can also use double quote
"Hello, welcome to MIZORAM UNIVERSITY"

'Hello, welcome to SRM university'

In [38]:
# Be careful with quotes!
' I'm a Edunet trainer'

SyntaxError: invalid syntax (Temp/ipykernel_14928/565436406.py, line 2)

The reason for the error above is because the single quote in I'm stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [39]:
"I'm a Edunet trainer"

"I'm a Edunet trainer"

We can use a print statement to print a string.

In [40]:
print('Hello')
print('Welcome to FDP on AI')
print('I am Aziz.\n from Edunet')
print('\n')
print('It give a new line space')

Hello
Welcome to VOIS workshop
I am Aziz.
 from Edunet


It give a new line space

We can use a function **len()** to check the length of a string.

In [41]:
len('Hello I am Aziz')

15

**len()** : It is python's built-in function counts all of the characters in the string, including spaces and punctuation.

##### Let's start indexing!

In [42]:
# Assign s as a string
Str = 'Hello MIZORAM UNIVERSITY'
Str

'Hello SRM University'

In [43]:
len(Str)

20

In [44]:
# Show first element (in this case a letter)
Str[0]

'H'

In [45]:
Str[2]

'l'

In [46]:
Str[5]

' '

In [47]:
Str[6]

'S'

We can use a : to perform slicing which grabs everything up to a designated point. For example:

In [48]:
# Grab everything past the first term all the way to the length of s which is len(s)
Str[1:]

'ello SRM University'

In [49]:
# Grab everything UP TO the 3rd index
Str[:4]

'Hell'

In [50]:
#Whole string
Str[:]

'Hello SRM University'

In [51]:
# Concatenate strings!
Str + ', I am Aziz'

'Hello SRM University, I am Aziz'

In [52]:
Str

'Hello SRM University'

In [53]:
Str = Str + ', I am Aziz'
Str

'Hello SRM University, I am Aziz'

###### Some Basic Built-in String methods

In [54]:
Str

'Hello SRM University, I am Aziz'

In [55]:
# Upper Case a string
Str.upper()

'HELLO SRM UNIVERSITY, I AM AZIZ'

In [56]:
# Lower case
Str.lower()

'hello srm university, i am aziz'

In [57]:
# Split a string by blank space
Str.split()

['Hello', 'SRM', 'University,', 'I', 'am', 'Aziz']

### Formatting with the .format() method
A better way to format objects into your strings for print statements is with the string .format() method. The syntax is:

'Enter name here {} then also {}' .format('Abdul','Aziz')

In [58]:
print('Enter name here {} then also {}' .format('Abdul','Aziz'))

Enter name here Abdul then also Aziz

**Inserted objects can be called by index position:**

In [59]:
print('The colours are {2} {1} {0}.'.format('red','brown','black'))

The colours are black brown red.

In [60]:
#Inserted objects can be assigned keywords:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=30.2))

First Object: 1, Second Object: Two, Third Object: 30.2

For more information on the string .format() method visit https://docs.python.org/3/library/string.html#formatstrings

# Lists

Lists are constructed with brackets [ ] and commas separating every element in the list.

In [61]:
# Assign a list to an variable named my_list
my_list = [1,2,3,4,5,6]
my_list

[1, 2, 3, 4, 5, 6]

We just created a list of integers, but lists can actually hold different object types. For example:

In [ ]:
my_list = ['Edunet',3,10.2,'A',32,3]
my_list

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [62]:
len(my_list)

6

#### Indexing and Slicing of List is just like String.

In [63]:
my_list

[1, 2, 3, 4, 5, 6]

In [64]:
# Grab element at index 0
my_list[0]

1

In [65]:
# Grab index 1 and everything past it
my_list[1:]

[2, 3, 4, 5, 6]

We can also use + to concatenate lists, just like we did for strings.

In [66]:
my_list + ['new item']

[1, 2, 3, 4, 5, 6, 'new item']

Note: This doesn't actually change the original list! That means:

In [67]:
my_list

[1, 2, 3, 4, 5, 6]

You would have to reassign the list to make the change permanent.

In [68]:
# Reassign
my_list = my_list + ['add new item for last']
my_list

[1, 2, 3, 4, 5, 6, 'add new item for last']

### Basic List Methods

In [71]:
# Create a new list
new_list = [1,2,3,4,5,6]

**Use the append method to permanently add an item to the end of a list:**

In [72]:
# Append
new_list.append('append')
new_list

[1, 2, 3, 4, 5, 6, 'append']

**Use pop to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:**

In [73]:
# Pop off the last indexed item
new_list.pop()

'append'

In [74]:
new_list

[1, 2, 3, 4, 5, 6]

In [75]:
# Pop off the 0 indexed item
new_list.pop(0)

1

In [76]:
new_list

[2, 3, 4, 5, 6]

# Dictionaries

A Python dictionary consists of a key and it's an associated value. That value can be almost any Python object.

##### Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
Dict = {'key1':'value1','key2':'value2', 'key3':'value3'}
Dict

In [ ]:
# Call values by their key
Dict['key2']

**Its important to see that dictionaries are very flexible in the data types they can hold. For example:**

In [77]:
my_dict = {'key1':123,'key2':[1,2,3],'key3':['Edu','Net','Foundation']}
my_dict

{'key1': 123, 'key2': [1, 2, 3], 'key3': ['Edu', 'Net', 'Foundation']}

In [78]:
# Let's call items from the dictionary
my_dict['key3']

['Edu', 'Net', 'Foundation']

In [79]:
# Can call an index on that value
my_dict['key3'][0]

'Edu'

In [80]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'EDU'

We can affect the values of a key as well. For example:

In [ ]:
my_dict['key1']

In [81]:
# Add 123 from the value
my_dict['key1'] = my_dict['key1'] + 123

In [82]:
#Check
my_dict['key1']

246

# Tuples

In Python tuples are very same to lists, however, unlike lists tuples are immutable meaning they can not be changed.

### Constructing Tuples
The construction of a tuples use () with elements separated by commas. For example:

In [83]:
# Create a tuple
tuple = (1,2,3,3,3,'aziz','Edu')
tuple

(1, 2, 3, 3, 3, 'aziz', 'Edu')

In [84]:
# Check len just like a list
len(tuple)

7

In [85]:
# Use indexing just like we did in lists
tuple[0]

1

In [86]:
# Slicing just like a list
tuple[-1]

'Edu'

Let's try the below cell

In [87]:
tuple[0]= 'change'

TypeError: 'tuple' object does not support item assignment

Oops! Because of this immutability, tuples can't grow. Once a tuple is made we can not add to it.

# Sets
Sets are an unordered collection of unique elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works.

In [88]:
{1,2,3,4}

{1, 2, 3, 4}

In [89]:
{1,2,3,3,3,4,5}

{1, 2, 3, 4, 5}

In [90]:
type({1,2,3,4})

set

In [91]:
Set = set()

In [94]:
# We add to sets with the add() method
Set.add(1)

In [95]:
Set.add(2)

In [96]:
Set.add(3)

In [97]:
Set

{1, 2, 3}

In [98]:
Set.add(1)

In [99]:
Set.add(1)

In [100]:
Set.add(4)

In [101]:
Set

{1, 2, 3, 4}

# if, elif, else Statements

In [102]:
if True:
    print("Yes! It was true.") #Python is so heavily driven by code indentation and whitespace.

Yes! It was true.

In [103]:
x = False

if x:
    print("Yes! It was true.")
else:
    print('I will be printed in any case where {} is not true' .format('x'))

I will be printed in any case where x is not true

## Multiple Branches

In [104]:
loc = 'Andhra Pradesh'

if loc == 'Bangalore':
    print('Welcome to the Bangalore!')
elif loc == 'Andhra Pradesh':
    print('Welcome to the Andhra Pradesh!')
else:
    print('Where are you?')

Welcome to the Andhra Pradesh!

# for loop

In [106]:
# We'll learn how to automate this sort of list in the next lecture
list1 = [1,2,3,4,5,6,7,8,9,10]

In [107]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

Let's print only the even numbers from that list!

In [108]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

We could have also put an else statement in there:

In [109]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('{} is Odd number'.format(num))

1 is Odd number
2
3 is Odd number
4
5 is Odd number
6
7 is Odd number
8
9 is Odd number
10

In [110]:
#sum of all elemens in list
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

# while loop

Letâ€™s look at a few simple while loops in action.

In [111]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
else:
    print('\n All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

 All Done!

#### Let's have a look at more on loops

In [112]:
# Grab every letter in string
lst = [x for x in 'Edunet']

In [113]:
lst

['E', 'd', 'u', 'n', 'e', 't']

In [114]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [115]:
# Square numbers in range and turn into list
sqr_lst = [x**2 for x in range(0,11)]

In [116]:
sqr_lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# What is a function?
Formally, a function is a useful block of code so they can be run more than once.

On a more fundamental level, functions allow us to not have to repeatedly write the same code again and again. 

Functions will be one of most basic levels of reusing code in Python, and it will also allow us to start thinking of program design.

In [117]:
#example of a function
def say_hello():
    print('hello Edunet')

In [118]:
say_hello()

hello Edunet

In [119]:
def add_num(num1,num2):
    return num1+num2

In [120]:
add_num(2,6)

8

### Return all even numbers in a list

In [122]:
def check_even_list(num_list):
    
    even_numbers = []
    
    # Go through each number
    for number in num_list:
        # Once we get a "hit" on an even number, we append the even number
        if number % 2 == 0:
            even_numbers.append(number)
        # Don't do anything if its not even
        else:
            pass
    # Notice the indentation! This ensures we run through the entire for loop    
    return even_numbers

In [123]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

# End